<div class="tile" id="profile-tile" (click)="navigateTo('/dprofile')">
  <div class="tile-header">Doctor Profile</div>
  <p>Create a profile with your details.</p>
  <div class="tile-content">
    <!-- Doctor profile information goes here -->
  </div>
</div>


<div class="tile" id="chat-tile" (click)="navigateTo('/chat')">
  <div class="tile-header">Chat</div>
  <p>You can view all the chat requests from patients.</p>
  <div class="tile-content">
    <!-- Chat feature goes here -->
  </div>
</div>

<!-- <div class="tile" id="clinic-tile" (click)="navigateTo('/clinic')">
  <div class="tile-header">Clinic Meetings</div>
  <div class="tile-content"> -->
    <!-- Clinic meeting schedule goes here -->
  <!-- </div>
</div>

<div class="tile" id="individual-tile" (click)="navigateTo('/individual')">
  <div class="tile-header">Individual Meetings</div>
  <div class="tile-content"> -->
    <!-- Individual meeting schedule goes here -->
  <!-- </div>
</div>

  <div class="tile" id="history-tile" (click)="navigateTo('/history')">
    <div class="tile-header">Patient History</div>
    <div class="tile-content"> -->
      <!-- Patient history goes here -->
    <!-- </div>
  </div> -->
