<div class="container">
  <div class="row">
    <div class="col-md-4" (click)="navigateTo('/meetdoctor','chat')">
      <div class="card my-3">
        <div class="card-body">
          <h2 class="card-title">Chat With Doctor</h2>
          <p class="card-text">Connect with our doctors online for a virtual consultation, from the comfort of your own home.</p>
          <!-- <a [routerLink]="['/meetdoctor']" class="btn btn-primary">Connect Now</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
