.chat-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.chat-header {
  background: linear-gradient(to bottom, #b80d23, #7709b6);
  color: #fff;
  padding: 20px;
  text-align: center;
}

.chat-messages {
  height: 350px;
  overflow-y: scroll;
  padding: 20px;
}

.chat-input {
  justify-content: space-between;
  padding: 20px;
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
}

.chat-textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.chat-input button[type="submit"] {
  background: linear-gradient(to bottom, #b80d23, #7709b6);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.column {
  float:left;
  width:25%;
  margin: 15px 15px 15px 0;

}

.row {
  margin:0-5px;
}

.raw:after {
  content: "";
  display: table;
  clear:both;
}

